[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hongweiz-ami
[access "refs/for/refs/*"]
	read = group user/hongweiz-ami
	push = group user/hongweiz-ami
	label-Code-Review = -2..+2 group user/hongweiz-ami
	label-Verified = -1..+1 group user/hongweiz-ami
	rebase = group user/hongweiz-ami
	removeReviewer = group user/hongweiz-ami
	submit = group user/hongweiz-ami
[access "refs/heads/*"]
	read = group user/hongweiz-ami
	create = group user/hongweiz-ami
	push = +force group user/hongweiz-ami
	pushMerge = group user/hongweiz-ami
[access "refs/tags/*"]
	push = group user/hongweiz-ami
	push = +force group user/hongweiz-ami
